:root {
  --max-width: 35rem;
  --indent: 3.5rem;
  --mobile-indent: .5rem;
  --primary: #ee7121;
  --dark-primary: #481213;
  --offwhite: #fff9f1;
  --offblack: rgb(21, 13, 1);
  /* --dark-link: #b3caff; */
  --dark-link: #729cff;
  --dark-visited: #b472ff;
}

@font-face {
  font-family: "Fira Sans";
  src: url("./fonts/firasans-regular-webfont.woff") format('woff'),
    url("./fonts/firasans-regular-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("./fonts/firasans-medium-webfont.woff") format('woff'),
    url("./fonts/firasans-medium-webfont.woff2") format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("./fonts/firasans-italic-webfont.woff") format('woff'),
    url("./fonts/firasans-italic-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Fira Sans ExtraCompressed";
  src: url("./fonts/firasansextracondensed-regular-webfont.woff") format('woff'),
    url("./fonts/firasansextracondensed-regular-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans ExtraCompressed";
  src: url("./fonts/firasansextracondensed-medium-webfont.woff") format('woff'),
    url("./fonts/firasansextracondensed-medium-webfont.woff2") format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans ExtraCompressed";
  src: url("./fonts/firasansextracondensed-italic-webfont.woff") format('woff'),
    url("./fonts/firasansextracondensed-italic-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Fira Code";
  src: url("./fonts/firacode-bold-webfont.woff") format('woff'),
    url("./fonts/firacode-bold-webfont.woff2") format('woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Fira Sans";
  min-height: 100vh;
  line-height: 125%;
  background-color: var(--offwhite);

}

::selection {
  background-color: var(--primary);
}

body.dark {
  background-color: var(--offblack);
  color: var(--offwhite);
}

html {
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box
}

App {
  width: 100vw;
}

.icon {
  filter: brightness(0);
}

.dark .icon {
  filter: brightness(1);
  filter: invert(100%);
}

.settings-bar {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  width: 100%;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 0 1rem;
  z-index: 100;
}

.dark .settings-bar {
  background-color: var(--dark-primary);
}

.top-row {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  padding: .5rem 0;
  min-width: 360px
}

.favorites-button {
  position: relative;
  top: .25rem
}

.favorites-area {
  max-width: var(--max-width);
  padding: 1rem;
  min-width: 10rem
}

@media only screen and (max-width: 475px) {
  .favorites-area {
    max-width: 100vw;

  }
}

.favorites-header {
  display: flex;
  justify-content: space-between;
}

.to-be-added-area {
  border: solid 1px black;
  padding: .2rem .2rem .2rem .4rem
}

.to-be-added {
  font-style: italic;
  padding-right: .5rem;
}

.to-be-added-area button {
  border: solid 1px black;
  background-color: #dddddd;
  border-radius: 0;
}


.favorites-area h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
  color: #dddddd
}

.favorites-instructions {
  font-size: .9rem;
  font-style: italic;
  color: #716363
}

.bottom-fav-row {
  display: flex;
  justify-content: flex-end;
}

.clear-button {
  margin-top: 0rem;
}



.alphabet {
  font-family: "Fira Code";
  /* margin-bottom: .5rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 35rem;
  min-width: 0;

}

.book-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 35rem;
  min-width: 0;
}

.book-button {
  color: black;
  font-family: "Fira Code";
  padding: 4px 4px 3px 3px;
  text-decoration: none !important;
}

.book-button:visited {
  color: black;
}

.dark .book-button:visited {
  color: var(--offwhite);
}

@media only screen and (max-width: 475px) {
  .alphabet {
    max-width: 30rem !important;
  }
}

.alphabet a,
.alphabet a:visited {
  color: black;
}

.alphabet span {
  border-radius: 5px;
  padding: 4px 4px 3px 3px;
}

.alphabet span:hover {
  color: var(--primary);
  text-decoration: none;
  background-color: black;
}

.dark .alphabet span:hover {
  color: var(--dark-primary) !important;
  background-color: var(--offwhite);
}

@media only screen and (max-width: 475px) {
  .alphabet span {
    padding: 0px;
  }

  .alphabet span:hover {
    color: rgb(109, 109, 109);
    background-color: inherit;
  }

  .dark .alphabet a:hover {
    color: var(--primary) !important;
    background-color: inherit;
  }
}

.dark .alphabet a,
.dark .alphabet a:visited {
  color: var(--offwhite)
}

.alphabet-anchor {
  font-size: 1.6rem;
  border-bottom: solid #3f3f3f 2px;
  margin-top: 1rem;
  color: #3f3f3f;
  padding-bottom: .5rem;
  font-weight: bold;
  font-family: "Fira Code";
}

.dark .alphabet-anchor {
  font-size: 1.6rem;
  border-bottom: solid #bfbfbf 2px;
  color: #bfbfbf;
  margin-top: 1rem;
}

.filter-area {
  display: flex;
  align-items: center;
}

.clear-filter-button {
  height: 1.72rem;
  border: none;
  background: none;
  position: absolute;
  right: .1rem;
  top: .1rem;
  color: gray;
}

#user-input-label {
  position: relative
}

@media only screen and (max-width: 475px) {
  .filter-label {
    display: none
  }
}

.input-box {
  border: solid 2px black;
  border-radius: 5px;
  font-size: 1rem;
  height: 1.72rem;
  padding: .2rem 1.5rem .2rem .2rem;
  background-color: transparent;
  margin-left: .5rem;
  color: var(--offwhite)
}

.dark .input-box {
  border-color: var(--offwhite);
  background-color: var(--dark-primary);

}

.input-box:focus {
  outline: none;
  background-color: rgb(255, 243, 226);
  color: black
}

.input-box::placeholder {
  font-style: italic;
  color: var(--offwhite);
  opacity: .4
}

.input-box:focus::placeholder {
  color: black
}

.x-icon {
  position: relative;
  top: .15rem;
  left: -.2rem
}

.radio-items {
  margin-top: 1rem
}

.theme-button {
  position: relative;
  top: .2rem
}

.up-icon {
  background: none;
  border: none;
  position: relative;
  top: .2rem
}

.hidden {
  display: none
}

.settings-button img {
  display: flex;
  margin-top: 0.2rem;
  rotate: 0deg;
  transition: rotate ease-in-out 1s;
}

.settings-button img:active {
  rotate: 90deg;
}

.settings-notice {
  font-size: .9rem;
  font-style: italic;
}

.dark .settings-notice {
  color: #ededed
}

.table-view button {
  background-color: black;
  color: var(--primary);
  border: 0px solid;
  border-radius: 5px;
  height: 1.5rem
}

.table-view button:hover {
  background-color: var(--offwhite);
  color: black;
  border: 0px solid;

}

.dark .table-view button {
  background-color: var(--offwhite);
  color: black;
}

.dark .table-view button:hover {
  color: var(--offwhite);
  background-color: black;
}


.info-area {
  max-width: var(--max-width);
  padding: 0 0 1rem;
  min-width: 10rem
}

details summary {
  cursor: pointer;
}

details>div {
  border-left: solid 2px black;
  margin-left: .7rem;
  padding-left: .7rem;
}

.options-area {
  max-width: var(--max-width);
  padding: 1rem;
  min-width: 10rem
}

summary {
  font-weight: bold;
  margin-bottom: .5rem
}

@media only screen and (max-width: 475px) {
  .info-area {
    max-width: 100vw;

  }
}

.info-area p {
  line-height: 130%;
  margin-bottom: .7rem;

}

.info-area a,
.info-area a:visited {
  color: rgb(0, 48, 207)
}

.sutta-index {
  margin: 6rem 1rem auto 2rem;
  padding-bottom: 3rem;
  max-width: var(--max-width)
}

p {
  margin: 0;
  font-family: "Fira Sans";
}

a {
  text-decoration: none;
  white-space: nowrap;
  word-spacing: -3px;
}

a.xref-link {
  white-space: inherit;
  word-spacing: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: .1rem;
}

a:visited {
  color: purple
}

/* .dont-show-visited .sub-word a:visited {
  color: #0066cc
} */

.xref-link {
  color: #007b00
}

.xref-link:visited {
  color: #007b00
}

.dark a {
  color: var(--dark-link)
}

.dark a:visited {
  color: var(--dark-visited)
}

.dark .xref-link {
  color: #00af00
}

.dark .xref-link:visited {
  color: #00af00
}

.sutta-name {
  font-size: .9rem;
  word-spacing: initial;
  font-style: italic
}

.head-word-area {
  padding-left: var(--indent);
  text-indent: calc(-1 * var(--indent));
  padding-top: .50rem;
  padding-bottom: .2rem;
  position: sticky;
  top: 4.6rem;
  background-color: var(--offwhite);
}

.dark .head-word-area {
  background-color: var(--offblack);
}

.head-word {
  font-weight: bold
}

.headword-link,
.headword-link:visited {
  color: var(--offblack);
  /* padding-right: 1.5rem; */
  word-spacing: inherit;
  position: relative;
  text-decoration: none !important;
  white-space: inherit;
}

.dark .headword-link,
.dark .headword-link:visited {
  color: var(--offwhite)
}

.link-icon {
  position: relative;
  top: .2rem;
  padding-right: .1rem;
}

.copy-icon {
  position: relative;
  top: .1rem;
  padding-right: .1rem;
}

.filter-icon {
  position: relative;
  top: .2rem;
}

.search-icon {
  position: relative;
  top: .3rem;
}

.stats-icon {
  position: relative;
  top: .2rem;
  padding-right: .2rem;
}

.head-icon {
  position: relative;
  top: .1rem;
  margin-right: .2rem;
}

.locator-icon {
  position: relative;
  top: .1rem;
  right: .1rem;
  margin-right: .1rem;
}

.search-results {
  /* height: 10rem; */
  overflow-y: auto;
  overflow-x: hidden;
}

.keys {
  font-family: "Fira Sans";
  font-weight: 400;
  background-color: gainsboro;
  border: solid 0px;
  border-radius: 5px;
  padding: .3rem .4rem .2rem .2rem;
}

.dark .keys {
  background-color: grey;
}

.headword-link .link-icon,
.headword-link .copy-icon {
  visibility: hidden;
}

.keyword {
  padding-right: .5rem;
}

@media only screen and (max-width: 475px) {

  .link-icon,
  .copy-icon {
    display: none
  }
}

.headword-link:hover .link-icon,
.link-icon:hover,
.headword-link:hover .copy-icon,
.copy-icon:hover {
  visibility: inherit;
}

.highlight {
  padding: 0 .1rem;
  background-color: var(--primary);
}

.sub-word {
  /* padding-left: var(--indent); */
  padding-left: 6.5rem;
  text-indent: -2rem;
}



.xref-link {
  font-style: italic;
}

.xref-label {
  font-style: italic;
}

.stats {
  /* color: var(--offwhite); */
  margin: 1rem auto;
  padding: .5rem;
  line-height: 1.6rem;
  border: solid 2px black;
  border-radius: 5px;
  max-width: 29rem
}

.dark .stats {
  border-color: var(--offwhite);
}

.answer {
  font-weight: bold;
  display: inline;
}

.locator-sorted-table {
  border-collapse: collapse;
  width: 40rem;
  table-layout: fixed;
  margin-top: 5rem;
  border: 1px solid
}

.table-header-row {
  top: 4.6rem;
  position: sticky;
  border: solid 1px;
  background: var(--primary)
}

.book-header-row {
  background: var(--primary) !important
}

.dark .table-header-row,
.dark .book-header-row {
  background: var(--dark-primary) !important
}

td h2 {
  padding-top: 1rem
}


/*This was needed before the sutta name was added to the table*/
/* thead th.first-column {
  width: 15% !important;
}

head th.second-column,
head th.third-column {
  width: 40% !important;
} */

td,
th {
  border: 1px solid #a8a8a8;
  text-align: left;
  padding: 8px;
}

.dark td,
.dark th {
  border: 1px solid #716363;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark tr:nth-child(even) {
  background-color: #2b201f;
}

.no-results {
  max-width: 30rem;
  margin: 3rem auto auto auto;
  text-align: center;
}

.no-results p {
  margin-bottom: 1rem;
  line-height: 1.4rem;
}

@media only screen and (max-width: 475px) {
  body {
    font-family: "Fira Sans ExtraCompressed";
  }

  .sutta-index {
    line-height: 130%;
    margin: 6rem 1rem;
  }

  input {
    max-width: 9rem;
  }

  .radio-items {
    display: flex;
    flex-direction: column;

  }

  .head-word-area {
    padding-left: var(--mobile-indent);
    text-indent: calc(-1 * var(--mobile-indent));
    padding-top: 1.6rem
  }

  .sub-word {
    padding-left: var(--mobile-indent);
    text-indent: initial;
  }
}

/* OtherToolsIcons */

.icon-links-area {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0 0;
  max-width: 40rem
}

.icon-links-area a {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.icon-links-area a:hover {
  top: -5px;
}

.icon-links-area a.labs {
  rotate: 0deg;
  transition: rotate ease 1s;
}

.icon-links-area a.labs:hover {
  rotate: 55deg;
  top: 0px !important;
}

.link-list {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 20rem;
  background-color: var(--offwhite);
  margin: 0 0 1rem 0;
  max-width: var(--max-width);
  overscroll-behavior: contain;
  padding: 1rem;
}

.dark .link-list {

  background-color: var(--dark-primary);

}

@media only screen and (max-width: 475px) {

  .alphabet {
    margin-top: .75rem;
    margin-bottom: .75rem
  }

  .sutta-name {
    display: none;
  }
}


.link-list a {
  text-decoration: none;
  word-spacing: inherit;
  white-space: inherit;
  padding: .1rem;
}

.link-list span {}

.link-list a:visited {
  /* color: var(--dark-visited) */
}

/*below may be out of use*/
.link-list a:hover {
  background-color: var(--primary);
  color: black;
  /* display: inline-block; */
}

/*or this may be*/
.link-list .menu-item:hover {
  background-color: var(--primary);
  color: black;
  /* display: inline-block; */
}



.link-list li {
  list-style: none;
  text-indent: -1rem;

}


.link-list span {
  padding-left: 1rem;
  display: block;
}

.link-list a {
  padding-left: 1rem;
  display: block
}